#------------
# Terraform
#------------

**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfvars

# State files
**/*.tfstate
**/*.tfstate.*
crash.log

#------------
# Scripts
#------------

scripts

#------------
# Services
#------------

# Node
node_modules/
dist/
*.log

# Env
.env
.env.*

# Artifacts
*.zip
package

# Large local data
*.csv
data/raw/
data/seed/

#------------
# AWS
#------------

response.json